electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
node-linker=hoisted
sharp_node_bits=64
sharp_prebuild_platform=win32
sharp_prebuild_arch=x64